:root {
  //   Blue
  --blue: #026fc2;
  --blue-light: #026fc2ad;
  --blue-dark: #004a83;
  --blue20: #026fc29b;
  --blue-mag: #1a2873;

  //   Grey
  --grey-light: #f2f2f2;
  --grey30: #00000033;
  --grey60: #c6c6c6;

  //   Black
  --black-dark: #012642;
  --black-light: #d9d9d9;
  --black70: #707070;
  --black60: #5a5a5a;
  --black20: #22222280;

  //   Green
  --green-dark: #55d9a8;
  --green-light: #55d9a8bf;

  // white
  --white: #ffffff;
  --white-light: #aaaaaa;

  // Red
  --red: #de2525;

  // Purple
  --purple-light: #afb3ff;
}
