// Inter
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Black.ttf");
  font-weight: 900;
}

// Montserrat
@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Black.ttf");
  font-weight: 900;
}

// Roboto
@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Black.ttf");
  font-weight: 900;
}
